.videoboxdiv{
    position: absolute;
    width:35%;
    height:80%;
    /* border:2px solid rgb(255, 255, 255); */
    border-radius: 20px 20px;
    display:inline-block;
    top:10%;
    left:5%;
    background-color: transparent;
}
.videotextdiv{
    position: absolute;
    width:45%;
    height:80%;
    /* border:2px solid rgb(255, 255, 255); */
    border-radius: 20px 20px;
    display:inline-block;
    text-align: center;
    top:10%;
    right:10%;
    background-color: #1d1d1d;
}
iframe{
    border-radius:20px 20px;
    border:none;
    
}
.videotext{
    color:white;
    height: 100%;
    width: 100%;
    position: relative;
    top:0%;
}
.infomodule{
    position: relative;
    width:100%;
    height:500px;
    /* background-color: rgba(0, 0, 0, 0.88); */
    background-color: #0a0a0a;
    opacity: 0.9;
    background-color: #0a0a0a;
    opacity: 0.9;
    background-image: radial-gradient(#1d1d1d 1.05px, #0a0a0a 1.05px);
    background-size: 21px 21px;
    background-attachment: fixed;
}
    
.sideBar{
    position:fixed;
    right:0px;
    /* border:2px solid black; */
    height:100%;
    width:7%;
    /* background-color: rgba(20, 161, 176, 0.8); */
    z-index: 2;
}
.sideBarPhoto{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:10%;
    width:66%;
    margin-bottom: 35px;
    filter:(invert(100%));
    text-decoration: none;
}
.paw1{
    background-image: url("paw 1.png") ;
    margin-left:6%;
    float:right;
}
.paw2{
    background-image: url("paw 2.png") ;
    margin-right:6%;
    float:left;
}
.sideBarPhoto div{
    position:absolute;
    right:120%;
    bottom: 40%;
    font-size: 120%;
    text-align: right;
    width: auto;
    pointer-events: none;
    z-index: 3;
    opacity: 0;
    white-space: nowrap;
    transition:opacity 1s;
    background-color: rgba(34, 34, 34, 0.752);
    padding:5px;
    border-style: groove;
    border-radius: 50px 50px 50px 50px;
}
.sideBarPhoto:hover div{
    opacity: 1;
    transition: opacity 0.7s;
}
.fixed{
    height:400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80%;
    width: 100%;
}
.rubrik{
    height:860px;
    width:100%;
}
.rubriktwo{
    height:1000px;
    width:100%;
    position:relative;
}
.fact1 {
    background-image: url("sorthund.jpg");
    transition: transform .2s; /* Animation */
    width: 300px;
    height: 300px;
    position: absolute;
    left:12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top:55%;
    z-index: 1;
}

.fact2 {
    background-image: url("brunhund.jpg");
    transition: height .2s width .2s; /* Animation */
    width: 300px;
    height: 300px;
    position: absolute;
    right:12%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top:55%;
    z-index: 1;
}
.fact3 {
    background-image: url("doggielanguage.png");
    transition: height .2s width .2s left .2s; /* Animation */
    width: 300px;
    height: 300px;
    position: absolute;
    left:40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top:55%;
    z-index: 0;
}

.fact1:hover {
    height: 500px;
    width:600px;
    top:40%;
}
.fact2:hover {
    height: 500px;
    width:600px;
    top:40%;
}
.fact3:hover {
    height: 750px;
    width:500px;
    left:33.5%;
    top:25%;
}

/*forside baggrundsfarve*/
.front{
    background-color: rgb(52, 52, 52);
}


.zero {
    background-image: url("SagaCute.jpg");
}

.one{
    background-image: url("kenaihappy.jpg");
}
.two{
    background-image: url("friends.JPG");
}
.three{
    background-image: url("rottweiler1.jpg");
}
.four{
    background-image: url("kenaigoofy.jpg");
}
.header1 {
    width: 100%;
    height:400px;
    position: relative;
    left:0%;
    margin-right:0px;
    background-image:url("banner.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

.slideArrow{
    position: absolute;
    right: 50%;
    bottom: 1.5%;
    height: 35px;
    width: 35px;
    border:2px solid black; 
    border-radius:100%;
    padding:5px; 
    filter:invert();
    cursor: url(), pointer;
    z-index: 1;
}
@keyframes arrowA {
    0% {right:49%; background-color: #f5f5f5;}
    50% {right:51%; background-color: #ebebeb;}
    100% {right:49%; background-color: #f5f5f5;}
}
#animated{
    animation: arrowA 2s infinite;
}
/*denne class er til alle popups'ne og teksten over.*/
.popupdiv{
    text-align: center;
    width:100%;
    height:370px;
    margin: 0 auto;
    background-color: #464646;

}
#introDiv{
    position: absolute;
    top:300px;
    left:5%;
    width:40%;
    height:50%;
}
/*id for at video fylder hele div'en*/
#gladVideo{
    width: 100%;
    height:100%;
}
/*midlertidige id til video så den kan få tagget gladvideo2 i stedet.*/
#gladVideo1{
}

/*Billede der bliver vist efter klik på pil*/
#gladVideo2{
    background-image: url("happy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/*id for at video fylder hele div'en*/
#utilpasVideo{
    height: 100%;
    width: 100%;
}
/*midlertidige id til video så den kan få tagget gladvideo2 i stedet.*/
#utilpasVideo1{

}
/*id til at vise billedet*/
#utilpasVideo2{
    background-image: url("eksempel1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#aggressionVideo1{
    
}
#aggressionVideo{
    height:100%;
    width: 100%;
}
#aggressionVideo2{
    background-image: url("BalooMave.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

body{
    margin: 0;
    /*background-image:linear-gradient(to bottom,gray,rgb(33, 33, 33)); */
    /* background-image: url("CuteDog.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color:white;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

/*div til forsideteksten, laver mellemrum */
.forsidetekst {
    margin-left: 150px;
    margin-right: 150px;
    height: 500px;
}

a{
    color:inherit;
}

label{
    background-color: rgb(33, 33, 33);
    border-radius: 20px 20px;
    padding: 20px;
    }
label:hover{
    background-color: rgb(58, 58, 58);
    }
form{
    margin-left: auto;
    padding-top: 20px;
    text-align: center;
}
input{
    border:10px;
}
.qPhoto{
    border-radius: 20px 20px;
    display: inline-block;
    position: relative;
    left: 33%;
    width:33%;
    margin-top:50px;
}
.qModule{
    position: relative;
    width:100%;
    height:140%;
    /* background-color: rgba(0, 0, 0, 0.88); */
    background-color: #0a0a0a;
    opacity: 0.9;
    background-color: #0a0a0a;
    opacity: 0.9;
    background-image: radial-gradient(#1d1d1d 1.05px, #0a0a0a 1.05px);
    background-size: 21px 21px;
    background-attachment: fixed;
    
}
.qQuestion{
    text-align: center;
}
.button{
    position: relative;
    background-color: #2f2f2f;
    border-radius: 20px;
    color: white;
    width: 33%;
    height: 100px;
    text-align: center;
    font-size: larger;
    display: inline-block;
    left:33%;
    
}
.button:hover{
    background-color: #464646;
    cursor: pointer;
    
}
.right{
    position: relative;
    width:100%;
    height:100%;
    /* background-color: rgba(0, 0, 0, 0.88); */
    background-color: #0a0a0a;
    opacity: 0.9;
    background-color: #0a0a0a;
    opacity: 0.9;
    background-image: radial-gradient(#0ecb01 1.05px, #0a0a0a 1.05px);
    background-size: 21px 21px;
    background-attachment: fixed;
}
.wrong{
    position: relative;
    width:100%;
    height:100%;
    /* background-color: rgba(0, 0, 0, 0.88); */
    background-color: #0a0a0a;
    opacity: 0.9;
    background-color: #0a0a0a;
    opacity: 0.9;
    background-image: radial-gradient(#c80101 1.05px, #0a0a0a 1.05px);
    background-size: 21px 21px;
    background-attachment: fixed;
}
.hidden{
    display: none;
}

p.lilichin{
    color:gray;
    font-size: 14px;
}

/* ---------------------pop up*-------------------------------/

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(27, 202, 100);
    border-style: ridge;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 500px;
    background-color: rgb(200, 40, 40);
    color: #fff;
    
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

